---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>






<div id="comments">
	{% case page.comment_count %}
		{% when 0 %}
		{% when 1 %}
			
		{% else %}
			<h1>{{page.comment_count}} Komentar</h1>
	{% endcase %}
	{% for c in page.comments %}
		<div class="comment {% cycle 'odd', 'even' %}">
			<p class="comment_header">
				From: {% if c.link and c.link != '' %}
					<a href="{{c.link}}">{{c.name}}</a>
				{% else %}
					{{c.name}}
				{% endif %}
				<br />
				<span class="comment_date">{{c.date}}</span>
			</p>
			<p>
				{{c.comment | newline_to_br}}
			</p>
		</div>
	{% endfor %}
	<h1>Post a comment</h1>
	<p style="font-style: italic">
		All comments are held for moderation; basic HTML formatting accepted.
		Semua komentar dimoderasi; kode HTML dasar diterima.
	</p>
	<form id="commentform" method="POST" action="{{site.url}}/commentsubmit.php">
		<input type="hidden" name="post_id" value="{{page.id}}" />
		<input type="hidden" name="return_url" value="{{site.url}}{{page.url}}" />
		<table>
			<tr>
				<th>Nama:</th>
				<td><input type="text" size="25" name="name" /> (required)</td>
			</tr>
			<tr>
				<th>E-mail:</th>
				<td><input type="text" size="25" name="email" /> (required, not published)</td>
			</tr>
			<tr>
				<th>Website:</th>
				<td><input type="text" size="25" name="link" /> (optional)</td>
			</tr>
			<tr>
				<td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="Kirim Komentar" /></td>
			</tr>
		</table>
	</form>
</div>

